body{
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    
   
}

button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 1rem;
    color: white;
}
button:hover{
    background-color: #000000;
}
